.containerButton {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.btns {
  border: 2px solid;
  background-color: #ffffed;
  padding: 8px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  width: 48%;
}

.success {
  border-color: #ffd148;
  color: #ffd148;
}

.success:hover {
  background-color: #ffd148;
  color: #ffffed;
}

.danger {
  border-color: #7c6522;
  color: #7c6522;
}

.danger:hover {
  background: #7c6522;
  color: #ffffed;
}

input.error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 14px;
}

select.error {
  border-color: red;
}
